[user]
	email = anthonydecruz@proton.me
	name = Anthony de Cruz
[init]
	defaultBranch = main
[alias]
	st = status -s
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
